<script type="text/javascript">
    function toIndex() {
        window.location = '/';
    }

    function addPlaylist() {
        window.location = '/LoginGoogle';

    }

    function RedirectURL(idSong) {
        window.location = createDynamicURL(idSong);
    }

    function createDynamicURL(idSong) {
        return '/LoginGoogle?id=' + idSong;

    }
</script>

<div class="wrapper">

    <div class="st-wrapper">

        <h1 class='st-tittle'><img class="image" src="/static/images/spotytube.png" alt="title"></h1>
        <div class='pre-awesome-line'></div>

        <section class="content wrapper">
            <h2>{{ playlist_name }}</h2>
            {% for content in tracks_names %}
                <div class="rectangle">
                    <div class="row">
                        <div class="columnImage">
                            <img class="imageSongs" src={{ content[4] }}>
                        </div>
                        <div class="columnSongs">
                            <h2 class="nameSong">{{ content[0] }}</h2>
                            <h3 class="artistSong">{{ content[1] }}</h3>
                            <audio controls>
                                <source src={{ content[5] }}>
                            </audio>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row">
                <div class="columnButtons">
                    <form class="btnContainerSongs" action="/LoginGoogle" method="get">
                        <a href="#" id='add' onclick="RedirectURL(this.id)">
                            <button type="button">Choose
                            </button>
                        </a>
                    </form>
                </div>
                <div class="columnButtons">
                    <form class="btnContainerSongs">
                        <a href="#" id='add' onclick="toIndex()">
                            <button type="button">Atras</button>
                        </a>
                    </form>
                </div>
            </div>


        </section>


    </div>
</div>


