* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', "Noto Sans Tibetan";
    background-color: #131313;
    color: white;
    overflow-y: scroll;
}


.st-tittle {
    font-family: 'Raleway';
    color: #FF5A09;
    font-size: 48px;
    margin-top: 1.5em;
}


.wrapper {
    width: 100%;
    height: 100%;
    color: #ffe0b2;
    display: inline-block;
    text-align: center;
}

.st-wrapper {
    width: 75%;
    margin: 0 auto;
}

.box {
    margin: 100px auto;
    width: 75%;
    height: 1px;
}

.container-1 {
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

}

.container-1 input#search {
    width: 95%;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}


.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 40%;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active {
    outline: none;
    background: #ffffff;
}


.pre-awesome-line {
    text-align: center;
    margin: 30px auto;
    height: 1px;
    background: -webkit-gradient(linear, left top, right top, color-stop(25%, #29a850), color-stop(50%, #f1b95f), color-stop(75%, #f50000));
    /* Chrome,Safari4+ */

    background: -moz-linear-gradient(left, #29a850 25%, #f1b95f 50%, #f50000 75%);
    /* FF3.6+ */

    background: -webkit-linear-gradient(left, #29a850 25%, #f1b95f 50%, #f50000 75%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(left, #29a850 25%, #f1b95f 50%, #f50000 75%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(left, #29a850 25%, #f1b95f 50%, #f50000 75%);
    /* IE10+ */

    background: linear-gradient(to right, #29a850 25%, #f1b95f 50%, #f50000 75%);
    /* W3C */
}


#header {
    text-align: right;
    position: relative;
    top: 10px;
    right: 12.5%;
}


#header > a:hover {
    color: #f3843e;
}

/* Three columns side by side */
.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* Two columns side by side */
.columnRadio {
    float: left;
    width: 50%;
    margin-top: 16px;
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.btnContainer button {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    background-color: #4CAF50;
}

.button:hover {
    background-color: #46a049;

}

/* When you mouse over the container, fade in the overlay title */
.card:hover .overlay {
    opacity: 1;
}

.image {
    max-width: 100%;
    height: auto;
}


/* Show songs */
.rectangle {
    /*background-color: #555;*/
    width: 80%;
    height: 120px;
    background: #2b303b;
    border: none;
    color: #63717f;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 16px;
    margin-left: 10%;
}

.imageSongs {
    width: 120px;
    height: 120px;
}

.nameSong {
    font-family: 'Raleway';
    color: #ffffff;
    font-size: 18px;
    text-align: left;
    margin-top: 42px;
    margin-bottom: 1%;
}

.artistSong {
    font-family: 'Raleway';
    color: #737374;
    font-size: 16px;
    text-align: left;
    margin-top: 1%;
    margin-bottom: 13%;
}

/*Two columns side by side */
.columnImage {
    float: left;
    width: 150px;
    text-align: left;
}

.columnSongs {
    float: left;
    width: 40%;
    text-align: left;

}
