<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">

    <title>SpotyTube</title>

    <link rel="stylesheet" href="/static/css/style.css" type="text/css"/>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>

    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uh3+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<script type="text/javascript">
    function click_playlist(id) {
        var request = new XMLHttpRequest(); //Objeto AJAX para realizar la petición
        request.open("GET", "/ShowTrack?id=" + id, true); // preparar petición HTTP
        request.send(null); // Enviar petición HTTP
        //window.location.href = 'http://localhost:8080/templates/songs.html';
    }


</script>

<body>

<div class="wrapper">

    <div class="st-wrapper">

        <h1 class='st-tittle'><img class="image" src="/static/images/spotytube.png"></h1>
        <div class='pre-awesome-line'></div>
        <section class="content wrapper">
            <div class="box">
                <div class="container-1">
                    <span class="icon"><i class="fas fa-search"></i></span>
                    <form name='busqueda' action="/SearchSpotify" method="get">
                        <input type="search" name="search" id="search" placeholder="Search..."/>
                        <div class="row">
                            <div class="columnRadio">
                                <input type="radio" name="typesearch" value="url"> Url<br>
                            </div>
                            <div class="columnRadio">
                                <input type="radio" name="typesearch" value="name" checked> Name<br>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row">
            </div>
        </section>


        {% if playlist_names %}
            {% for content in playlist_names %}
                <div class="column">
                    <div class="card">
                        <img class="image" src={{ content[1] }} alt={{ content[0] }} style="width: 300px;height:300px;">
                        <div class="container">
                            <h3>{{ content[0] }}</h3>
                            <p>
                                <button class="button" id={{ content[2] }} onClick="click_playlist(this.id)">Choose
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

    </div>
</div>
</body>
</html>