backports.functools-lru-cache==1.5
BeautifulSoup==3.2.1
beautifulsoup4==4.7.1
Brotli==1.0.7
certifi==2022.12.7
chardet==3.0.4
Click==7.0
config==0.4.0
dist==1.0.3
feedparser==5.2.1
Flask==1.0.2
html5lib==1.0.1
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
lib==3.0.0
lxml==4.6.3
MarkupSafe==1.1.1
requests==2.21.0
requests-toolbelt==0.9.1
selenium==3.141.0
six==1.12.0
soupsieve==1.9.1
urllib3==1.26.5
webapp2==2.5.2
webencodings==0.5.1
WebOb==1.8.5
werkzeug>=0.15.3
WTForms==2.2.1
